<footer class="mt-5">
    <div class="jumbotron jumbotron-fluid bg-dark text-white">
        <div class="container">
            <div class="row ">
                <div class="col-sm-4">
                    <h3 class="d-flex justify-content-center ">About</h3>
                    <a routerLink="/about" id="about" class="text-white d-flex justify-content-center link-color">About</a>
                </div>
                
                <div class="col-sm-4">
                    <h3 class="d-flex justify-content-center ">Contact</h3>
                    <label class="d-flex justify-content-center ">Email: kunalgautam0591@gmail.com</label>
                </div>
                
                <div class="col-sm-4">
                    <h3 class="d-flex justify-content-center ">Follow</h3>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.facebook.com/profile.php?id=100011335576985" target="_blank" class="icon-style">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/kunal-gautam-951910176/" target="_blank" class="icon-style">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCH3svlOm4AD5cLp55AaW7tw?view_as=subscriber" target="_blank" class="icon-style">
                            <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/kunalgautam143/?hl=en" target="_blank" class="icon-style">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                        <a href="https://twitter.com/KunalGa05634965" target="_blank" class="icon-style">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</footer>