<div class="container mt-2">
    <section>
        <h3>About</h3>
        <p>
            Bill Divider is a pure web-based website. 
            You don’t have to download any applications for the mobile to divide your every bill among the group of members. 
            It doesn’t take any permission about your private stuff. 
            It is completely free and no ads that are disturbed your attention.
        </p>
    </section>

    <section>
        <h3>Open Source</h3>
        <p>
            More interesting thing is that it is an open-source website 
            if anyone is interested to contribute to this website then they can contribute. The Github link is given.
            <a href="https://github.com/KunalGautam214/bill-divider" target="_blank">Source code</a>
        </p>
    </section>

    <section>
        <h3>Future Plan</h3>
        <p>
            I am planning to develop this website to an extreme level. 
            I mean Monthly chart will be there so that anyone can calculate his monthly expenses.
        </p>
    </section>

    <section>
        <h3>Suggestions</h3>
        <p>
            If do you have any suggestions for me please send me on my below contact mail.
            Or you can also follow me on various social media channels.
        </p>
    </section>
</div>