<div class="container">
    <section>
        <h3>Icons</h3>
        <p><i class="fa fa-home" aria-hidden="true"></i> Home</p>
        <p><i class="fa fa-power-off" aria-hidden="true"> Login / Sign up</i></p>
        <p><i class="fa fa-list-ul" aria-hidden="true"></i> Activity</p>
        <p><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</p>
    </section>

    <section>
        <h3>How to sign up?</h3>
        <ol>
            Follow the below steps to create an account.
            <li>Click on power icon. <i class="fa fa-power-off" aria-hidden="true"></i></li>
            <li>Click on <i>Sign up.</i></li>
            <li><i>Enter member names</i> and hit enter button to add member in the group.</li>
            <li><i>Enter group name</i> and <i>password</i> and hit Create button to create a new group.</li>
            <li>Credentials share among the group members for further activities.</li>
        </ol>
    </section>

    <section>
        <h3>The idea behind this web site</h3>
        <p>
            If you use this web site, you no longer have to use pen and paper for record maintenance. 
            Moreover, you can access it anywhere anytime.
            <br>
            <strong>Note: </strong>It is a Beta version release.
        </p>
    </section>
</div>