<div class="mt-2">
    <div class="row">
        <!-- <div class="col-sm-6"> -->
            <div class="card">
                <div class="card-header bg-primary text-center text-white">Login</div>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="loginGroup(f.value)">
                        <div class="form-group">
                            <label for="loginName">Enter group name<span class="text-danger"><sup>*</sup></span></label>
                            <input 
                            #loginName="ngModel" ngModel name="loginName" id="loginName" type="text" class="form-control"
                            placeholder="Enter login name..." required>
                            <div *ngIf="loginName.invalid && (loginName.dirty || loginName.touched)">
                                <span *ngIf="loginName.errors.required" class="text-danger small">
                                    Group name is required.
                                </span>
                            </div>
                            <label for="loginPassword">Enter group password<span class="text-danger"><sup>*</sup></span></label>
                            <input
                            #loginPassword="ngModel" ngModel name="loginPassword" id="loginPassword" type="password" class="form-control"
                            placeholder="Enter group password..." required>
                            <div *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)">
                                <span *ngIf="loginPassword.errors.required" class="text-danger small">
                                    Group password is required.
                                </span>
                            </div>
                        </div>
                        <button [disabled]="!f.valid" class="btn btn-success btn-block mt-2">Login</button>  
                    </form>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>